/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
/* css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas{
    /* for animation of canifetti */
    /* display none stops the animation so make absolute so that it does not take space and do its job */
    position: absolute;
    z-index: -1;
}

/* Envelope */
.text , .envelope , .card , .wish_gallery{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.envelope{
    min-height: 100vh;
    background-color: #defdcc;
}

.box{
    height: 200px;
    width: 200px;
    background-color: #000;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    transform-style: preserve-3d;
    perspective: 600px;
    box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
}
.box::before{
    content: "";
    position: absolute;
    border-left: 100px solid transparent;
    border-right: 100px solid #0066cc;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #0066cc;
    border-radius: 0px 0px 20px 20px;
    z-index: 4;
}

.box::after{
    content: "";
    position: absolute;
    border-left: 100px solid #0073e6;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #0073e6;
    border-radius: 0px 0px 20px 20px;
}

.cover{
    content: "";
    position: absolute;
    border-top: 100px solid #3399ff;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-radius: 0px 0px 20px 20px;
    z-index: 5;
    
    transform-origin: top;
    transition: 2s 1.25s ease;
}

.cover_animation{
    transform: rotateX(270deg);
    transition: 1s ease;
}

.image{
    position: absolute;
    width: 90%;
    left: 0.5rem;
    height: 100%;
    border-radius: 0px 0px 20px 20px;
    
    background:url(img/4.jpeg);
    background-position: center;
    background-size: cover;
    transition: 2s;
    
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
}

.image_animation{
    transform: translateY(-100px);
    transition: 1s 1s ease-in;
}


/* text */
.text{
    min-height: 80vh;
    color: white;
    font-family: 'Shizuru', cursive;
    background-color: burlywood;

}
.ml14 {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
  }

.bday_boy{
    margin: 1em;
    width: 25%;
    box-shadow: 2px -1px 21px -3px rgba(0,0,0,0.75);
}

/* card */
.card{
    min-height: 100vh;
    background-color: rgb(238, 207, 212);
}

.container{
    background-color: #fff;
    width: 20%;
    min-height: 200px;
    /* border: 2px solid red; */
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.75);
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
}

.details{
    max-width: 100%;
    opacity: 0;
    transition: 6s;
}

.imgbox{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 2s;
    z-index: 1;
    background: #000;
}

.imgbox img{
    max-width: 100%;
    transform-style: preserve-3d;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-position: top;
}

.grp_pic{
    width: 100%;
}
/* hovering effects */
.container:hover .imgbox{
    transform: rotateY(-180deg);
}

.container:hover {
    transform: translateY(-50%);
    transform: rotateX(-15deg);
}

.container:hover .details{
    opacity: 100%;
}



/* wish gallery */
.wish_gallery{
    position: relative;
    min-height: 100vh;
    background-color: #000;
    background:  linear-gradient(rgba(5, 5, 5, 0.466), rgba(0, 0, 0, 0.6)), url('img/stars.jpg');
    animation: bg_anim alternate-reverse 100s linear infinite;
    overflow: hidden;
}
@keyframes bg_anim {
    0%{
        background-position:bottom ;
    }
    50%{
        background-position: top;
    }
    75%{
        background-position: left;
    }
    70%{
        background-position: top;
    }
    100%{
        background-position: right;
    }
}

.wish{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    bottom: 0;
    display: flex;
}

.wish-img{
    margin: auto;
    width: 20%;
}

.balloon-group{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
.balloon{
    width: 10%;
    animation: balloon_anim infinite 20s linear;
    transition: 1s;
    opacity: 0;
}

@keyframes balloon_anim {
    0%{
        /* transform: translateY(); */
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: translateY(-90vh);
        opacity: 0;
    }
}
.balloon-group img:nth-child(1){
    animation-delay: 1s;
}
.balloon-group img:nth-child(2){
    animation-delay: 4s;
}
.balloon-group img:nth-child(3){
    animation-delay: 5s;
}
.balloon-group img:nth-child(4){
    animation-delay: 2s;
}
/* Media query */
@media screen and (max-width:700px) {
    .details{
        font-size: 1rem;
    }
    .container{
        width: 60%;
        height: 50%;
    }
    .container:hover{
        transform: rotateZ(-90deg);
    }
    .bday_boy{
        width: 50%;
    }
    .wish-img{
        width: 50%;
    }
    .balloon{
        width: 25%;
    }
}
